* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f6;
  display: flex;
  justify-content: center;
  color: #1c1c1c;
}

.container {
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  padding: 70px 30px;
  text-align: center;
}

/* Judul Elegant */
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.tagline {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #777;
  letter-spacing: 2px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/* Button Elegant */
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
  background: white;
  color: #1c1c1c;
  transition: 0.3s ease;
}

.link i {
  font-size: 16px;
}


/* Hover */
.link:hover {
  background: #1c1c1c;
  color: white;
  border: 1px solid #1c1c1c;
}

/* Tap effect mobile */
.link:active {
  transform: scale(0.98);
}

.logo {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
}
